openai~=1.35.3
langchain~=0.2.5
langchain_community
streamlit~=1.32.0
python-dotenv~=0.21.0
langchain_openai
streamlit_carousel
pinecone-client
tiktoken
langchain_pinecone 
langchain-text-splitters
Wikipedia-API
wikipedia~=1.4.0
fuzzywuzzy~=0.18.0
twilio~=9.2.1
flask~=3.0.3
st-clickable-images
python-Levenshtein
st_clickable_images
pillow~=10.3.0
pytesseract~=0.3.10
langchain-pinecone
google-cloud-vision
google-cloud-translate
google-cloud-language
google-cloud-texttospeech
google-cloud-speech
python-multipart
transformers~=4.44.1
torch
torchvision
torchaudio
pinecone~=4.0.0
speechrecognition
pydub
google-cloud-speech
pyaudio

-e .
pypdf2~=3.0.1
requests~=2.32.2
pandas~=2.0.3
setuptools~=69.5.1
opencv-python~=4.10.0.84
numpy~=1.24.3
tqdm~=4.66.4